.site{
    
    .btn{
        border-radius: unset;
        padding: 0.775rem 0.75rem;
    
        &.btn-primary{
            background: $primary-color;
            border-color: $primary-color;
            color: white;
        
            &:hover{
                background: lighten($primary-color, 10%);
                border-color: lighten($primary-color, 10%);
            }
        }
    
        &.btn-secondary{
            background: white;
            border-color: $primary-color;
            color: $primary-color;
        
            &:hover{
                background: lighten($primary-color, 10%);
                border-color: lighten($primary-color, 10%);
                color: white;
            }
        }
    
        &.btn-transparant{
            background: transparent;
            border-color: white;
            color: white;
    
            &:hover{
                background: white;
                color: black;
            }
        }
    }
}