#category-detail{

    .categories-overview{

        li{
            padding: 5px 10px; 
            border: 1px solid #e9e9e9;

            &.active{
                background: $primary-color;
                border-color: $primary-color;

                a{
                    color: white;
                }
            }

            &:hover{
                background-color: $primary-color;
                border-color: $primary-color;

                a{
                    color: white;
                }
            }

            a{
                color: black;
                text-decoration: none;
                display: block;
            }
        }
    }

    .category-information{

        .category-image{
            max-width: 240px;
        }
    }

    .category-products{

        .category-product{

            .category-product-information{
                border: 1px solid #e9e9e9;
                padding: 5px;
            }
        }
    }
}