#footer-categories{

    .category{
        min-height: 400px;
        position: relative;
        color: white;
        box-shadow: inset -1px -150px 120px -20px rgb(0 0 0 / 55%);
        -webkit-box-shadow: inset -1px -150px 120px -20px rgb(0 0 0 / 55%);

        .category-inner{
            position: absolute;
            bottom: 30px;
            left: 30px;

            .btn{
                min-width: 205px;
            }
        }
    }
}

footer{

    ul{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;

        li{
            padding: 30px 0.5rem;
            border-bottom: 1px solid #595959;
            color: #d6d8db;

            a{
                color: #d6d8db;
                font-size: 1.2rem;

                @media (max-width: 1199px) {
                    font-size: initial;
                }

                @media (max-width: 991px) {
                    font-size: 12px;
                }
            }
        }
    }

    .extra-pages{

        li{
            border-bottom: none;
            font-size: 12px;
            padding-top: 0;

            @media (max-width: 991px) {
                text-align: center;
            }

            a{
                font-size: 12px;

                @media (max-width: 991px) {
                    font-size: 10px;
                }
            }
        }
    }
}