form{

    .form-group{

        img{
            max-width: 200px;
        }

        .bootstrap-select{
            width: 100% !important;

            &.show{
                background-color: white;

                button{
                    background-color: #fff;
                    border-color: #a1cbef !important;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgb(52 144 220 / 25%);
                    outline: none !important;
                }
            }

            button{
                display: block;
                width: 100%;
                height: calc(1.6em + 0.75rem + 2px);
                padding: 0.375rem 0.75rem;
                font-size: 0.9rem;
                font-weight: 400;
                line-height: 1.6;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                outline: none !important;

                &:active{
                    background-color: unset !important;
                    border-color: unset !important;
                }
            }

            .dropdown-toggle{
                outline: none !important;

                &::after{
                    margin-left: -0.245em;
                }
            }
        }
    }
}