#intro{

    .background-image{
        background-image: url("/images/home/home-main-image.jpg");
        background-size: cover;

        @media (max-width: 576px) {
            min-height: 340px;
            margin-top: 30px;
        }
    }

    .bg-dark-blue{
        background: $dark-blue;
        height: 500px;
        width: 410px;
        position: absolute;
        right: 0;
        margin-top: -200px;
        z-index: -1;

        @media (max-width: 1199px) {
            height: 300px;
            width: 500px;
            right: 0;
            margin-top: -130px;
        }

        @media (max-width: 991px) {
            height: 200px;
            width: 380px;
            margin-top: -100px;
        }

        @media (max-width: 767px) {
            width: 280px;
        }

        @media (max-width: 576px) {
            display: none;
        }
    }

    .btn{
        max-width: 100%;
    }
}

#information{
    
    .content{
        min-height: 500px;

        @media (max-width: 576px) {
            min-height: unset;
            padding: 15px;
        }

        ul{

            li{
                &:before {
                    content:">";
                    float: left;
                    margin-right: 10px;
                }

                a{
                    color: black;
                }
            }
        }

        .primary-link{
            position: absolute;
            bottom: 30px;

            @media (max-width: 576px) {
                position: unset;
                bottom: unset;
            }
        }
    }

    .bg-brown{
        background: $brown;
        color: white;

        @media (max-width: 993px) {
            background: none;
        }

        .opening-hours{
            padding: 15px;
            height: 100%;

            @media (max-width: 993px) {
                background: $brown;
            }
            
            .active{
                color: black;
            }

            a{
                position: absolute;
                bottom: 30px;
                color: white;

                @media (max-width: 576px) {
                    position: unset;
                    bottom: unset;
                }
            }
        }
    }
}

#sales{

    .product{
        @media (max-width: 576px) {
            text-align: center;
            width: fit-content;
            margin: 0 auto;
        }

        .product-image-wrapper{

            .reduced-price{
                position: absolute;
                background: $primary-color;
                color: white;
                padding: 0.445rem 0.46rem;
            }
        }

        .product-information{

            .previous-price{
                
                span{
                    text-decoration: line-through;
                }
            }

            .action-price{
                color: $primary-color;
                font-weight: bold;
            }

            .add-to-cart{
                font-size: 23px;
                position: absolute;
                bottom: 0;
                right: 0;
                
                .plus-sign-wrapper{
                    background: #28617b;
                    color: white;
                    height: 15px;
                    width: 15px;
                    border-radius: 50%;
                    position: absolute;
                    top: -7px;
                    right: -10px;

                    span{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 11px;
                    }
                }
            }
        }
    }
}