.navbar{
    background: white;

    .navbar-brand{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        @media (min-width: 1600px) {
            left: -170px;
        }

        img{
            max-width: 278px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 991px) {
                max-width: 214px;
            }
        }
    }

    .navbar-nav{
        align-items: center;
    }

    .navbar-toggler{
        margin-left: auto;
    }

    .navbar-collapse{
        position: relative;
        z-index: 999;
    }

    #navbarNavDropdown{
        @media (max-width: 991px) {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;

            .navbar-nav{
                position: relative;
                top: 25%;
                width: 100%;
                text-align: center;
                margin-top: 30px;

                a{
                    padding: 8px;
                    text-decoration: none;
                    font-size: 24px;
                    color: #d3cece;
                    display: block;
                    transition: 0.3s;

                    &:hover{
                        color: white;
                    }
                }
            }

            .navbar-close {
                position: absolute;
                top: -5px;
                right: 25px;
                font-size: 60px;
                color: #d3cece;
                display: block !important;

                &:hover{
                    color: white;
                    text-decoration: none;
                }

                @media (max-width: 450px) {
                    font-size: 40px;
                    top: 15px;
                    right: 35px;
                }
            }
        }

        .navbar-close{
            display: none;
        }
    }

    .shopping-cart-link{
        position: relative;
    }

    #cart-contents{
        position: absolute;
        right: 0;
        top: 60px;
        min-width: 430px;
        -webkit-box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
        -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
        box-shadow: 0 5px 5px 0 rgb(0 0 0 / 10%);
        background-color: white;
        transition: all 0.3s;

        &.show{
            display: block;
        }

        li{
            &:hover{
                background-color:#f3f3f3;
            }

            .item{
                display:block;
                padding:3px 10px;
                margin: 0;
                transition: all 0.3s;

                &:after{
                    visibility: hidden;
                    display: block;
                    font-size: 0;
                    content: " ";
                    clear: both;
                    height: 0;
                }

                .btn{
                    padding: 0.375rem 0.75rem;
                }
            }

            .item-left{
                float: left;

                .img-wrapper, span.item-info{
                    float: left;
                }

                .img-wrapper{
                    background-size: cover;
                    background-position: center;
                    height: 50px;
                    width: 50px;
                }

                span.item-info{
                    margin-left: 10px; 

                    span{
                        display: block;
                    }
                }
            }

            .item-right{
                float: right;

                button{
                    margin-top: 7px;
                }
            }
        }
    }
}