.product-options{
    margin-top: 40px;
}

.product-variations{
    margin-top: 30px;
}

.product{

    form{

        .input-group{

            .btn{
                padding: 0.375rem 0.75rem;
            }
        }
    }
}