.clearfix{
    clear: both !important;
}

.home-h1{
    margin-top: 160px;
}

.max-width-60{
    max-width: 60%;
}

.site{
    background: white;

    section{
        padding: 40px 0;
    
        &#intro{
            padding-top: 0;
        }

        &#footer-categories{
            padding-bottom: 30px;
        }
    }

    footer{
        background: $dark-blue;
        color: white;
    }
}

.bg-light-grey{
    background: $light-grey;
}

.primary-link{
    color: $primary-color;
}

@media (min-width: 1600px){
    .xl-container {
        max-width: 1540px;
    }
}