.table{

    &.products-table, &.categories-table, &.vats-table, &.allergies-table{

        th{
            border-top: none;
        }
        
        td{
            vertical-align: middle;
        }

        img{
            max-height: 150px;
            min-width: 130px;
        }
    }

    &.products-table, &.categories-table, &.allergies-table{

        tr{

            td:first-of-type{
                text-align: center;;
            }
        }
    }
}