<template>
    <div>
        <div v-for="(option, index) in options" :key="index" class="option">
            <div class="form-group">
                <label :for="'title-'+index">Titel</label>
                <input type="text" :name="'title-'+index" :placeholder="option.placeholder" class="form-control" v-model="option.title"/>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" :id="'price-'+index">€</span>
                </div>
                <input type="number" :name="'price-'+index" min="0" step=".05" class="form-control" v-model="option.price" :aria-describedby="'price-'+index"/>
            </div>
            <hr/>
        </div>
        <button type="button" class="btn btn-primary mb-3 float-right" @click="addOption"><i class="fas fa-plus"></i> Optie toevoegen</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                options: [],
            };
        },

        mounted() {

        },

        methods : {
            addOption() {
                var option = {
                    title: "",
                    price: 0,
                    placeholder: "Titel"
                };

                this.options.push(option);
            },

            removeOption(index) {

            }
        }
    }
</script>
