<template>
    <div>
        <div v-for="(variation, index) in variations" :key="index" class="variation">
            <div class="form-group">
                <label :for="'title-'+index">Titel</label>
                <input type="text" :name="'title-'+index" :placeholder="variation.placeholder" class="form-control" v-model="variation.title"/>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" :id="'variation-price-'+index">€</span>
                </div>
                <input type="number" :name="'price-'+index" min="0" step=".05" class="form-control" v-model="variation.price" :aria-describedby="'variation-price-'+index"/>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" name="default" :id="'default-'+index" v-model="variation.default">
                <label class="form-check-label" :for="'default-'+index">Default</label>
            </div>
            <hr/>
        </div>
        <button type="button" class="btn btn-primary mb-3 float-right" @click="addVariation"><i class="fas fa-plus"></i> Variatie toevoegen</button>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                variations: [],
            };
        },

        mounted() {
            console.log('Component mounted.')
        },

        methods : {
            addVariation() {

                var variation = {
                    title: "",
                    price: 0,
                    default: false,
                    placeholder: "Titel"
                };

                this.variations.push(variation);
            },

            removeVariation(index) {

            }
        }
    }
</script>
